<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<table>
  <tr>
    <th>ID</th>
    <th align="left">Questions</th>
  </tr>

<%= render @questions %>
</table>

<p>
<%= link_to 'New Question', new_test_question_path(params[:id]) %>
</p>

<p>
<%= link_to 'Back', tests_path %>
</p>

<p>
<%= link_to 'Edit', edit_test_path(@test) %>
</p>
